*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  font-family: system-ui;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3rem;
  border-radius: 4px;
  background-color: #b2b2b250;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 10px;
}

.clock > *:not(span) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  margin-right: -5px;
}

span {
  margin-top: -7.5px;
  margin-right: -5px;
}